.nav{
  position: relative;
  z-index: 20;
}
@media (min-width: 800px) {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  color: #ef257a;
}
li a:hover{
  background-color: #111;
  cursor: pointer;
}
}
@media (max-width: 800px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  li {
    float: left;
  }
  
  li a {
    display: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    color: #ef257a;
  }
  li a:hover{
    background-color: #111;
    cursor: pointer;
  }
  }
@media (max-width: 800px){
  .hamberger-menu-container{
    display: flex;
  }
}
@media (min-width: 800px) {
  .hamberger-menu-container{
    display: none;
  }
}
/* .Add-item{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}
.Add-item:hover {
  background-color: #111;
  cursor: pointer;
} */
@media (max-width: 800px) {
  

    .search-bar{
      margin-top: 8px;
      margin-left: 26px;
      width: 300px;
      height:10px;
      border-radius: 30px;
      display:none;
      flex-direction: row;
      background-color: white;
      padding: 2px;
      float: right;
      margin-right: 38px;
    }
  .search-bar > i{
    padding: 2px;
    font-size: 20px;
    color: #777;
  }
  .search-bar > input{
    flex:1;
    border:none;
    outline: none;
  }

}
@media (min-width: 800px) {
.search-bar{
  margin-top: 8px;
  margin-left: 26px;
  width: 300px;
  height:30px;
  border-radius: 30px;
  display:flex;
  flex-direction: row;
  background-color: white;
  padding: 4px;
  float: right;
  margin-right: 38px;
}
.search-bar > i{
  padding: 2px;
  font-size: 20px;
  color: #777;
}
.search-bar > input{
  flex:1;
  border:none;
  outline: none;
}
}