/* .cardlist-container {
    display: grid;
    gap: 50px 100px;
    padding:30px;
    grid-template-columns: auto auto auto;

  } */
  .cardlist-container {
      padding: 20px;
      padding-top: 60px;;
  }
  .button-container {
      padding:30px;
      display: flex;
      flex-direction: row-reverse;
  }
  .button-container button {
    color:aliceblue;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
  }
  .button-container button:hover{
    opacity: 0.7;
  }

